<p id="notice"><%= notice %></p>

<h1>Listing Capsule Learners</h1>

<table>
  <thead>
    <tr>
      <th>Capsule class</th>
      <th>Name</th>
      <th>Email</th>
      <th>Phone number</th>
      <th>Educational status</th>
      <th>Company name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @capsule_learners.each do |capsule_learner| %>
      <tr>
        <td><%= capsule_learner.capsule_class_id %></td>
        <td><%= capsule_learner.name %></td>
        <td><%= capsule_learner.email %></td>
        <td><%= capsule_learner.phone_number %></td>
        <td><%= capsule_learner.educational_status %></td>
        <td><%= capsule_learner.company_name %></td>
        <td><%= link_to 'Show', capsule_learner %></td>
        <td><%= link_to 'Edit', edit_capsule_learner_path(capsule_learner) %></td>
        <td><%= link_to 'Destroy', capsule_learner, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Capsule learner', new_capsule_learner_path %>
