<div style="width:88%;margin:0 auto;padding:2%;padding-left:5%;">
<p id="notice"><%= notice %></p>

<h1>Listing Capsule Classes</h1>



<section class="features-list" id="features">

      <div class="container">
      <div class="row" style="text-align:center;">
            <h1 style="font-size:30px;font-family: 'Nunito',sans-serif;display:inline-block;color:#3f6184;border-bottom:4px solid #3C5460;">
              Free Capsule Classes
            </h1>
        </div><br>
        
        <div class="row">
          <%a=1%>
          <% @capsule_classes.each do |capsule_class| %>
          <div class="col-md-4">

            <%if a==1%>
            <div class="cbox even">
            <%end%>
            <%if a==2%>
            <div class="cbox odd">
            <%end%>
            <%if a==3%>
            <div class="cbox todd">
            <%end%>
            <%if a==4%>
            <div class="cbox dodd">
            <%end%>
              <%if a==1%>
                <div class="cboxHeading color1">
              <%end%> 
              <%if a==2%>
                <div class="cboxHeading color2">
              <%end%> 
              <%if a==3%>
                <div class="cboxHeading color3">
              <%end%> 
              <%if a==4%>
                <div class="cboxHeading color4">
              <%end%>             
                <h1><%= capsule_class.title %></h1>
                <hr>
                <div >
                  <p>
                    <i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp;Duration:&nbsp; <%= capsule_class.duration %>
                  </p>
                
                  <p>
                    <i class="fa fa-calendar" aria-hidden="true"></i>&nbsp;Starting On: &nbsp; <%=capsule_class.starting_date.strftime("%B %-d, %Y")%>
                  </p>
                </div>
              </div>

              <div class="cboxBody">
                <%hall=capsule_class.benifits.split("*")%>
                <%hall.take(4).each do |h|%>
                  <p><i style="color:#010101;" class="fa fa-hand-o-right" aria-hidden="true"></i>&nbsp;&nbsp;<%=h%></p>
                <%end%>
              </div>
              <div class="smore">
                <%if a==1%>
                  <% capsule_class.guest_lecturer.split(",").each do |kk| %>
                      <% k = kk.split("*")%>
                          <p class="sm1"><strong><%=k[0]%></strong>&nbsp;&nbsp;(<%=k[1]%>)</p>
                      
                  <%end%>
                <%end%> 
                <%if a==2%>
                  <% capsule_class.guest_lecturer.split(",").each do |kk| %>
                      <% k = kk.split("*")%>
                          <p class="sm2"><strong><%=k[0]%></strong>&nbsp;&nbsp;(<%=k[1]%>)</p>
                      
                  <%end%>
                <%end%> 
                <%if a==3%>
                  <% capsule_class.guest_lecturer.split(",").each do |kk| %>
                      <% k = kk.split("*")%>
                          <p class="sm3"><strong><%=k[0]%></strong>&nbsp;&nbsp;(<%=k[1]%>)</p>
                      
                  <%end%>
                <%end%> 
                <%if a==4%>
                  <% capsule_class.guest_lecturer.split(",").each do |kk| %>
                      <% k = kk.split("*")%>
                          <p class="sm4"><strong><%=k[0]%></strong>&nbsp;&nbsp;(<%=k[1]%>)</p>
                      
                  <%end%>
                <%end%> 
              </div>

              <div class="smore">
                Display:&nbsp;<strong><%= capsule_class.display %></strong>
              </div>
            </div>
             <div class="well">
             
        <%= link_to 'Show', capsule_class %>&nbsp;|&nbsp;<%= link_to 'Edit', edit_capsule_class_path(capsule_class) %>&nbsp;|&nbsp;<%= link_to 'Destroy', capsule_class, method: :delete, data: { confirm: 'Are you sure?' } %>      
            </div> 

          </div>

            <%if a==4%>
              <%a=1%>
            <%else%>
              <%a+=1%>
            <%end%>  

           
          <%end%>
        </div>
      </div>
    </section>

<%= link_to new_capsule_class_path do%>
<div class="btn btn-info">
Create New Capsule Class
</div>
<%end%>


</div><!-- main div -->