<div id="about_cont" >
<div class="row" style="background-image:url('<%=@about.img(:medium)%>');width:100vw;background-repeat:none;height:360px;">
	
	<div class="about_head_cont">
		<h1>About Providencedu.in</h1>
		<div>
			<p><%=@about.about.capitalize%></p>
		</div>
	</div>
</div>

<div class="row" >
	<div class="col-md-10 col-md-offset-1">
		<h3 style="text-align:center;">Who We Are..?</h3>
		<div class="who_we_are">
			<% @about.who_we_are.split("*").each do |k| %>
			    <p><%=k%></p>
			<%end%>
		</div>
	</div>
</div>
<hr>
<div class="row">
	<div class="col-md-5 col-md-offset-1" >
		<div class="vision">
			<h3><u>VISION</u></h3>
			<p><%=@about.vision%></p>
		</div>
	</div>
	<div class="col-md-5" >
		<div class="mission">
			<h3><u>MISSION</u></h3>
			<p><%=@about.mission%></p>
		</div>
	</div>
</div>
<hr>

<div class="row" >
	<div class="col-md-10 col-md-offset-1">
		<h3 style="text-align:center;">What We Do</h3>
		<div class="what_we_do">
			<% @about.what_we_do.split("*").each do |k| %>
			    <p><i style="color:#03a9f4;" class="fa fa-caret-right" aria-hidden="true"></i>&nbsp;<%=k%></p>
			<%end%>
		</div>
	</div>
</div>
<hr>

<%extra = @about.extra.split("*")%>
<%c=true%>

<%extra.each do |k|%>
	
	<%if c%>
		<div class="row">
			<div class="col-md-2"></div>
	<%end%>

		<div class="col-md-4">
			<%if c%>
			<div class="extra bb">
			<%else%>
			<div class="extra br">
			<%end%>
				<%ex=k.split("!")%>
				<h4><%=ex[0]%></h4>
				<p><%=ex[1]%></p>
			</div>
		</div>

	<%if !c%>
		</div>
	<%end%>
	
	<%if c%><%c=false%><%else%><%c=true%><%end%>

<%end%>


	

	

<br><br>