<div class="row">
	<div style="background-image: url(<%=@career.img(:medium)%>);background-repeat:no-repeat;width:100%;height:360px;margin-top:-29.5px;">
    	<div class="about_head_cont">
			<h1><%=@career.heading.upcase%></h1>
			<div>
				<a id="clickopen" class="learn-btn animated fadeInUp">View Open Positions</a>
			</div>
		</div>
    </div>
</div>
<br><br>
<div id="career-show"  class="row" >

	<div class="col-md-10 col-md-offset-1 well" style="padding:0 !important;">
		<div class="row" >
		
		<div class="col-md-5 col-md-offset-1" style="padding:0 !important;">
			<img src="<%=@career.highlight_img1(:medium)%>" width="585px" height="350px" style="margin-left:-16.9%;">
		</div>
		<div class="col-md-5">
			<div style="padding-top:22%;text-align:center;margin:0 auto;margin-left:12%;">
				<h3 style="text-align:center;"><%=@career.highlight_h1%></h3>
				<p style="text-align:center;"><%=@career.highlight_p1%></p>
			</div>
		</div>
		</div>
		<div class="row">
			<div class="col-md-5 col-md-offset-1">
				<div style="padding-top:22%;text-align:center;margin:0 auto;margin-right:12%;">
					<h3 style="text-align:center;"><%=@career.highlight_h2%></h3>
					<p style="text-align:center;"><%=@career.highlight_p2%></p>
				</div>
			</div>
			<div class="col-md-5">
				<div class="col-md-5 col-md-offset-1" style="padding:0 !important;">
					<img src="<%=@career.highlight_img2(:medium)%>" width="566px" height="350px" style="margin-left:-23%;">
				</div>
			</div>
		</div>
		<div class="row" >
		
		<div class="col-md-5 col-md-offset-1" style="padding:0 !important;">
			<img src="<%=@career.highlight_img3(:medium)%>" width="585px" height="350px" style="margin-left:-16.9%;">
		</div>
		<div class="col-md-5">
			<div style="padding-top:22%;text-align:center;margin:0 auto;margin-left:12%;">
				<h3 style="text-align:center;"><%=@career.highlight_h3%></h3>
				<p style="text-align:center;"><%=@career.highlight_p3%></p>
			</div>
		</div>
		</div>
		<div class="row">
			<div class="col-md-5 col-md-offset-1">
				<div style="padding-top:22%;text-align:center;margin:0 auto;margin-right:12%;">
					<h3 style="text-align:center;"><%=@career.highlight_h4%></h3>
					<p style="text-align:center;"><%=@career.highlight_p4%></p>
				</div>
			</div>
			<div class="col-md-5">
				<div class="col-md-5 col-md-offset-1" style="padding:0 !important;">
					<img src="<%=@career.highlight_img4(:medium)%>" width="566px" height="350px" style="margin-left:-23%;">
				</div>
			</div>
		</div>
	</div>

</div>


<!-- HR HEADING SECTION -->
	

	<section  class="row">
	<div id = "open-positions" class="col-md-10 col-md-offset-1" style="background-color:#3f6184;height:300px;padding-top:5%;">
		<div class="texture-overlay"></div>
		<h2 style="text-align:center;color:#fff;font-family: 'Nunito',sans-serif;"><%=@career.hr_heading%></h2><br>
		<p style="text-align:center;color:#fff;font-family: 'Nunito',sans-serif;">
			<i class="fa fa-quote-left" aria-hidden="true"></i>
			<%=@career.hr_email%>
			<i class="fa fa-quote-right" aria-hidden="true"></i>
		</p>
	</div>
	

	</section>
	
		<hr>

<br><br>

<!-- OPEN POSITIONS SECTION -->
<%@positions.each do |position|%>
<section class="row" id="open-position1">
	<div class="col-md-10 col-md-offset-1" style="padding:0px !important;">
		<div class="panel panel-default" style="border-radius:0px !important;">
			<div class="panel-heading" style="border-radius:0px !important;background-color:#3f6184 !important;color:#fff !important;text-align:center !important;">
				<h3>
					<span class="badge"><%=position.rank%></span>&nbsp;&nbsp;
					<%=position.position_name%>
				</h3>
			</div>
			<div class="panel-body">
				<%position.requirement_categories.all.order('rank ASC').each do |requirement|%>
					<div class="cjd">
						<h4><a style="cursor: pointer; cursor: hand;"><%=requirement.requirement_name%></a></h4>
						<div class="jd" style="display:none;"><%=render partial: 'requirementp', locals: {requirement_category: requirement}%></div>			
					</div>
					<hr>
				<%end%>
			</div>
		</div>
	</div>	
</section>
<br>
<%end%>
<script type="text/javascript">
	
	$('.panel-body').hide().slideDown();
	$(".cjd").on("click", function(){
    	$(this).children('.jd').toggle(function(){$('.jd').addClass("cn");},function(){$('.jd').removeClass("cn");});
	});

$('#clickopen').click(function(){
	$("html, body").animate({ scrollTop: $('#open-positions').offset().top }, 1000);
});

</script>		
		<br><br>