<%= form_for(@term_page) do |f| %>
  <% if @term_page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@term_page.errors.count, "error") %> prohibited this term_page from being saved:</h2>

      <ul>
      <% @term_page.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :script %><br>
    <%= f.text_area :script %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<div class="well">
<h1>Please Follow the Example:</h1>
<br>

<h3>In order to achive this</h3>

  <p>UpGrad offers curated, specially designed and produced collections of Online Courses that comprise what UpGrad refers to as Programs (such collection of Online Courses may be a “Program”).<br>
<br>
<strong>Your Acceptance of Terms</strong><br>

By accessing and/or using the Platforms or Online Courses, you agree to be bound by these Terms of Use, whether you are:<br>

a "Visitor," meaning you simply browse the Platforms, including, without limitation, through a mobile or<br>

other wireless device, or otherwise use the Platforms without being registered, or<br>

a "Student," meaning that you have registered with UpGrad for a User ID and User Password (defined below), will complete the homework assignments and exams, and have enrolled in and paid for access to services, content, and/or certification provided by UpGrad or its Educational Partners (defined below), attend or view lectures online and accessing final projects or assessments required for certification.</p>
<br><br>
<h3>Update Like this</h3>
 <p>UpGrad offers curated, specially designed and produced collections of Online Courses that comprise what UpGrad refers to as Programs (such collection of Online Courses may be a “Program”).*<br>
<br>
Your Acceptance of Terms !<br>

By accessing and/or using the Platforms or Online Courses, you agree to be bound by these Terms of Use, whether you are:#<br>

a "Visitor," meaning you simply browse the Platforms, including, without limitation, through a mobile or#<br>

other wireless device, or otherwise use the Platforms without being registered, or#<br>

a "Student," meaning that you have registered with UpGrad for a User ID and User Password (defined below), will complete the homework assignments and exams, and have enrolled in and paid for access to services, content, and/or certification provided by UpGrad or its Educational Partners (defined below), attend or view lectures online and accessing final projects or assessments required for certification.</p>
</div>
