<div style="width:88%;margin:0 auto;padding:2%;padding-left:5%;">
<p id="notice"><%= notice %></p>

<p>
  <strong>Img:</strong>
  <%= image_tag @about_page.img(:medium) %>
</p>

<p>
  <strong>About:</strong>
  <%= @about_page.about %>
</p>

<p>
  <strong>Who We Are:</strong>
  <% @about_page.who_we_are.split("*").each do |k| %>
    <p><%=k%></p>
  <%end%>
</p>

<p>
  <strong>What We Do:</strong>
  <% @about_page.what_we_do.split("*").each do |k| %>
    <p><%=k%></p>
  <%end%>
</p>

<p>
  <strong>Vision:</strong>
  <%= @about_page.vision %>
</p>

<p>
  <strong>Mission:</strong>
  <%= @about_page.mission %>
</p>

<p>
  <strong>Extra:</strong>
  <%kk= @about_page.extra.split("*") %>
  <%kk.each do |k|%>
    <%h=k.split("!")%>
      <p><strong><%=h[0]%></strong></p>
      <p><%=h[1]%></p>
    
  <%end%>
</p>

<%= link_to 'Edit', edit_about_page_path(@about_page) %> |
<%= link_to 'Back', about_pages_path %>
</div>